<div class="container my-5">
  <div class="row">
    <!-- Colonne du formulaire de modification -->
    <div class="col-md-6">
      <div class="form-home text-center mb-5">
        <h3>Update Booking</h3>
        <p class="lead">Please fill in the details to update your booking.</p>
      </div>

      <%= form_for @booking, html: { class: 'needs-validation', novalidate: "" } do |f| %>
        <div class="mb-3">
          <%= f.label :start_date, class: 'form-label' %>
          <%= f.date_field :start_date, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :end_date, class: 'form-label' %>
          <%= f.date_field :end_date, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :comment, 'Comment (optional)', class: 'form-label' %>
          <%= f.text_area :comment, rows: 3, class: 'form-control' %>
        </div>

        <div class="actions text-center">
          <%= f.submit 'Update my booking', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

<div class="container my-5">
  <div class="card">
    <div class="card-header">
      Summary of Booking Changes
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3"><strong>Modification Date</strong></div>
        <div class="col-md-3"><strong>Start Date Changes</strong></div>
        <div class="col-md-3"><strong>End Date Changes</strong></div>
        <div class="col-md-3"><strong>Total Amount Changes</strong></div>
      </div>
      <% @booking.versions.each do |version| %>
        <% booking_version = version.reify %>
        <div class="row mt-2">
          <div class="col-md-3">
            <%= version.created_at.strftime("%d/%m/%Y %H:%M") %>
          </div>
          <% if booking_version %>
            <div class="col-md-3">
              From: <%= booking_version.start_date %> <br>
              To: <%= version.next&.reify&.start_date || @booking.start_date %>
            </div>
            <div class="col-md-3">
              From: <%= booking_version.end_date %> <br>
              To: <%= version.next&.reify&.end_date || @booking.end_date %>
            </div>
            <div class="col-md-3">
              From: <%= booking_version.total_amount %> <br>
              To: <%= version.next&.reify&.total_amount || @booking.total_amount %>
            </div>
          <% else %>
            <div class="col-md-9">
              This is the creation of the booking.
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  </div>
</div>
