<div class="boat-header" style="background-image: url('https://source.unsplash.com/random/?yacht')"></div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-home text-center my-5">
        <h3>Update Booking</h3>
        <p class="lead">Please fill in the details to update your booking.</p>
      </div>

      <%= form_for [@boat, @booking], html: { class: 'needs-validation', novalidate: "" } do |f| %>
        <div data-controller="get-sum-days" data-get-sum-days-price-day-value="<%= @boat.price_per_day %>">
          <div class="mb-3">
            <%= f.label :start_date, class: 'form-label' %>
            <%= f.date_field :start_date, class: 'form-control', required: true,
                data: {
                  get_sum_days_target: "start_date",
                  action: "change->get-sum-days#sum"
                } %>
          </div>

          <div class="mb-3">
            <%= f.label :end_date, class: 'form-label' %>
            <%= f.date_field :end_date, class: 'form-control', required: true,
                data: {
                  get_sum_days_target: "end_date",
                  action: "change->get-sum-days#sum"
                } %>
          </div>

          <div class="mb-3">
            <%= f.label :comment, 'Comment (optional)', class: 'form-label' %>
            <%= f.text_area :comment, rows: 3, class: 'form-control' %>
          </div>

          <p data-get-sum-days-target="amount" class="fs-4"></p>
        </div>

        <div class="actions text-center">
          <%= f.submit 'Update my booking', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
