<div class="boat-header" style="background-image: url('https://source.unsplash.com/random/?yacht')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Book the <%= @boat_to_book.name %></h3>
        <div data-controller="get-sum-days" data-get-sum-days-price-day-value="<%= @boat_to_book.price_per_day %>">
          <p>
            <small>Price per day:</small> <strong> <%= @boat_to_book.price_per_day %> CHF</strong>
          </p>
          <%= simple_form_for [@boat, @booking] do |f| %>
            <%= f.input :start_date, as: :string,
              input_html: { data: { controller: "datepicker", action: 'change->get-sum-days#sum', get_sum_days_target: "start_date"} }
            %>
            <%= f.input :end_date, as: :string,
              input_html: { data: { controller: "datepicker", action: 'change->get-sum-days#sum', get_sum_days_target: "end_date" } }
            %>

            <%= f.input :comment, label: false, placeholder: 'Add a comment...' %>
            <p data-get-sum-days-target="amount" class="fs-4"> </p>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
