 <%= render "shared/flashes" %>
  <div class="navbar navbar-expand-sm navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to boats_path do %>
          <%= image_tag "boat-logo3.jpg", alt: "AirbnBoat Logo", class: "logo" %>
          <span class="brand-name">AirbnBoat</span>
        <% end %>
      </div>
      </div>

      <div class="float-rigt">
      <div class="add-boat-button">
      <% if user_signed_in? %>
        <%= button_to 'Add a new Boat', new_boat_path, method: :get, class: "btn add-boat-btn" %>
      <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
              <%= link_to "Home", boats_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to current_user.first_name, dashboard_path, class: "nav-link" %>
          <% else %>
            <%= link_to "Profile", dashboard_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Sign up", "/users/sign_up", class: "dropdown-item" %>
              <%= link_to "Log in", "/users/sign_in", class: "dropdown-item" %>
            <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
