<div class="container rounded bg-white mt-5 mb-5" >
  <div class="row">
    <%= render "shared/flashes" %>

    <!-- User Profile (on the left) -->
    <div class="col-md-3 border-right" id="dashboard-margin">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span class="font-weight-bold"> <%= current_user.first_name %> <%= current_user.last_name %> </span>
        <span class="text-black-50"><%= current_user.email %></span>
      </div>
    </div>

    <!-- Profile Settings (on the right) -->
    <div class="col-md-5">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>

        <%= simple_form_for current_user, html: { class: 'mt-2' } do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :last_name, label: "Last name",  disabled: true %>
            </div>
            <div class="col-md-6">
              <%= f.input :first_name, label: "First name", disabled: true %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :email, label: "Email" %>
            </div>
            <div class="col-md-12">
              <%= f.input :created_at, label: "Account created date", disabled: true, as: :string,
               input_html: { data: { controller: "datepicker"} } %>
            </div>
          </div>

          <div class="mt-5 text-center">
            <%= f.submit "Edit profile", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="booking-h3-style">
    <h3>My bookings</h3>
  </div>
  <div class="row" id="profile-cards">
  <% current_user.bookings.each do |booking| %>
    <div class="col-md-4">
      <div class="card" style="width: 18rem; background-image: url('https://source.unsplash.com/random/?boat'); background-size: cover; color: white; overflow: hidden; margin-bottom: 20px">
        <div class="card-body" style="background-color: rgba(0,0,0,0.5);">
          <h5 class="card-title"><strong><%= booking.boat.name %></strong></h5>
          <p class="card-text">
            Rental dates: <%= booking.start_date %> to <%= booking.end_date %>
          </p>
          <p class="card-text">
            Booking cost: <%= booking.total_amount %> €
          </p>
          <% if booking.review.nil? %>
          <div class="btn-cards-booking">
            <% if Date.today < booking.start_date %>
              <%= link_to 'Manage my booking', edit_booking_path(booking), class: "btn btn-outline-info" %>
            <% end %>
            <% if Date.today > booking.end_date %>
              <%= link_to 'Add a review', new_booking_review_path(booking_id: booking.id), class: "btn btn-outline-info" %>
            <% end %>
          </div>
          <% else %>
            <p>Review already sent <i class="fa-solid fa-check"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
