<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new boat</h3>
        <%= simple_form_for @boat do |f| %>
          <%= f.input :name, placeholder: 'boat' %>
          <%= f.input :description, placeholder: 'write a description' %>
          <%= f.input :price_per_day %>
          <%= f.input :year_production %>
          <%= f.input :user_id, as: :hidden, input_html: { value: 2 } %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
