<div class="container margin-top-negative">
  <!--title-->
  <div class="row">
    <h3 id="show-boat-name"><%=@boat.name %></h3>
    <div class='d-flex'>
      <p> ⭐4.4 (<%= @reviews.count %>) reviews</p>
    </div>
  </div>
  <!--images-->
  <div class="grid-container">
    <div class="grid-item big">
        <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>

    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>
    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>
    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>
    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 ">

     <!-- <div class="boat-show-card">
        <div id="<%#= "boatCarousel-#{@boat.id}"%>" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <%# if @boat.photos.attached? %>-->
            <%# @boat.photos.each do |photo| %>
<!--              <div class="carousel-item active">-->
                <%#= cl_image_tag(photo.key, height: 350, width: 650, crop: :fill) %>
<!--              </div>-->
            <%# end %>
            <%# else %>
<!--              <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>-->
            <%# end %>

      <!-- this boat owned by-->
      <div class="boat-show-card" id ='owned-by'>
          <h6 class='ps-3'> This boat owned by Marc </h6>
        <p class="boat-show-description ps-3">8 people · 3 cabins · 8 berths · 2 bathrooms</p>
      </div>
    <!--Description of owner -->
      <div class="boat-show-card">

          <h4 class='ps-3'> Description of Marc's boat.</h4>

        <p class="boat-show-description ps-3"> <%= @boat.description %></p>
        <p class="boat-show-description ps-3"> <%= raw @boat.details %></p>
      </div>
      <div class="boat-show-card">
        <h3>Reviews</h3>
        <% if  @reviews.any? %>
          <div class="flex">
            <% @reviews.each do |review| %>
              <div class="flex ms-3">
                <p><%= review.user.first_name %> <small>(<%= review.created_at.strftime("%d.%m.%Y") %>)</small>:</p>
                <p><strong><%= review.comment %></strong> </p>
                <br>
              </div>
            <% end %>
          </div>
          <% else %>
          <div class="flex ms-3">
            <p> No reviews yet...</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <div class="boat-show-card" id='show-detail'>
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ms-3">
            Price per day: <strong><%= @boat.price_per_day %> CHF</strong>
          </div>
          <div class="flex ms-3">
            Year production: <strong><%= @boat.year_production %></strong>
          </div>

          <% if @boat.bookings.present? %>
              <div class="flex ms-3 bg-danger-subtle mt-3 ps-1">
                Not available:
            <% @bookings.each do |booking|%>
                <br>
                from: <strong> <%=booking.start_date%></strong> to: <strong> <%=booking.end_date%></strong>
              <%end%>
              </div>
            <% else %>
              <div class="flex ms-3 mt-2">
                Available: <strong> NOW 🚢</strong>
              </div>
          <% end %>
        </div>

        <div class="col-12 mt-3  ps-3 d-flex align-items-center">
          <%= link_to "Book this boat !", new_boat_booking_path(@boat), class: "btn btn-primary ps-5 pe-5" %>
        </div>
      </div>
    </div>
  </div>
</div>
