<div class="boat-header" style="background-image:url('https://source.unsplash.com/random/?boat')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="boat-show-card">
        <h1><%= @boat.name %></h1>
        <p class="boat-show-description"><%= @boat.description %></p>
      </div>
      <div class="boat-show-card">
        <h3>Pictures of the boat</h3>
        <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="boat-show-card">
        <%= link_to "Book this boat !", new_boat_booking_path(@boat), class: "btn btn-primary" %>
      </div>
      <div class="boat-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ms-3">
            Price per day: <strong><%= @boat.price_per_day %> CHF</strong>
          </div>
          <div class="flex ms-3">
            Year production: <strong><%= @boat.year_production %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
