
<p>NAME: <%= @boat.name %></p>
<p>DESCRIPTION: <%= @boat.description %></p>
<p>PRICE_PER_DAY: <%= @boat.price_per_day %></p>
<p>YEAR_PRODUCTION: <%= @boat.year_production %></p>
<p>IMG: https://source.unsplash.com/random/?city,night</p>
<!-- <p>IMAGE_URL: <%= @boat.image_url</p> %> -->
<p>USER_ID: <%= @boat.user_id %></p>
