<div class="container margin-top-negative">
  <!--title-->
  <div class="row">
    <h3 id="show-boat-name"><%=@boat.name %></h3>
    <div class='d-flex'>
      <p> ⭐4.4 (<%= @reviews.count %>) reviews</p>
    </div>
  </div>
  <!--images-->
  <div class="grid-container">
      <% if @boat.photos.attached? %>
        <div class="grid-item big" style="width: 100%; height: 100%;">
          <%= cl_image_tag(@boat.photos[0].key, height: '100%', width: '100%', crop: :fill) %>
        </div>
        <% @boat.photos.drop(1).each do |photo| %>
            <div class="grid-item">
              <%= cl_image_tag(photo.key, height: '100%', width: '100%', crop: :fill) %>
            </div>
        <% end %>
      <% else %>
        <div class="grid-item big" style="width: 100%; height: 100%;">
          <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
        </div>
        <div class="grid-item">
          <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
        </div>
        <div class="grid-item">
          <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
        </div>
        <div class="grid-item">
          <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
        </div>
        <div class="grid-item">
          <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
        </div>
      <% end %>
    <!--<div class="grid-item">-->
      <!--<div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>-->
      <%#= cl_image_tag(@boat.photos[0].key, height: '100%', width: '100%', crop: :fill) %>
<!--    </div>
    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>
    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>
    <div class="grid-item">
      <div class="boat-img" style="background-image: url('https://source.unsplash.com/random/?boat')"></div>
    </div>-->
  </div>

  <div class="row">
    <div class="col-8 ">
      <!-- this boat owned by-->
      <div class="boat-show-card" id ='owned-by'>
          <h6 class='ps-3'> This boat owned by Marc </h6>
        <p class="boat-show-description ps-3">8 people · 3 cabins · 8 berths · 2 bathrooms</p>
      </div>
      <!--Description of owner -->
      <div class="boat-show-card">
        <h4 class='ps-3'> Description of Marc's boat.</h4>
        <p class="boat-show-description ps-3"> <%= @boat.description %></p>
      </div>
      <div class="boat-show-card">
        <h3>Reviews</h3>
        <% if  @reviews.any? %>
          <div class="flex">
            <% @reviews.each do |review| %>
              <div class="flex ms-3">
                <p><%= review.user.first_name %>: <strong><%= review.comment %></strong> (<%= review.created_at.strftime("%d.%m.%Y") %>)</p>
              </div>
            <% end %>
          </div>
          <% else %>
          <div class="flex ms-3">
            <p> No reviews yet...</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 sticky-top mt-3">
      <div class="card shadow border-none">
        <div class="card-body">
          <h3 class="card-title">Details</h3>
          <div class="">
            <div class="me-3">
              <p class="card-text">Price per day: <strong><%= @boat.price_per_day %> CHF</strong></p>
            </div>
            <div class="me-3">
              <p class="card-text">Year production: <strong><%= @boat.year_production %></strong></p>
            </div>
          </div>

          <% if @boat.bookings.present? %>
          <div class="alert alert-danger mt-5 ms-3" role="alert">
            <p class="mb-0">Not available:</p>
            <% @bookings.each do |booking|%>
            <p class="mb-0">from: <strong><%=booking.start_date%></strong> to: <strong><%=booking.end_date%></strong></p>
            <%end%>
          </div>
          <% else %>
          <div class="alert alert-success mt-5 ms-3" role="alert">
            <p class="mb-0">Available: NOW 🚢</p>
          </div>
          <% end %>

          <div class="d-flex justify-content-center mt-3">
            <%= link_to "Book this boat!", new_boat_booking_path(@boat), class: "btn", style: "background-color: rgb(88,201,250);" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
